[Unit]
Description=Start Nextcloud Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'nextcloud-desktop-client.nextcloud --background'
ExecStop=/bin/bash -c 'nextcloud-desktop-client.nextcloud -q'
Restart=on-failure

[Install]
WantedBy=default.target