{{ if eq .profile "work" -}}
# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# make less more friendly for non-text input files, see lesspipe(1)
#[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# set a fancy prompt (non-color, unless we know we "want" color)
case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

# uncomment for a colored prompt, if the terminal has the capability; turned
# off by default to not distract the user: the focus in a terminal window
# should be on the output of commands, not on the prompt
#force_color_prompt=yes

if [ -n "$force_color_prompt" ]; then
    if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
        # We have color support; assume it's compliant with Ecma-48
        # (ISO/IEC-6429). (Lack of such support is extremely rare, and such
        # a case would tend to support setf rather than setaf.)
        color_prompt=yes
    else
        color_prompt=
    fi
fi

if [ "$color_prompt" = yes ]; then
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
    PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi
unset color_prompt force_color_prompt

# If this is an xterm set the title to user@host:dir
case "$TERM" in
xterm*|rxvt*)
    PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
    ;;
*)
    ;;
esac

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

# Custom Aliases #
[ -f $HOME/.config/aliases ] && source $HOME/.config/aliases

# FZF Configuration #
[ -f $HOME/.config/fzf/fzf.bash ] && source $HOME/.config/fzf/fzf.bash

## Kconf Completion (Bash) ##
_kconf_completion() {
  local kubeconfig_dir="$HOME/.kube"
  local cur="${COMP_WORDS[COMP_CWORD]}"

  if [ -d "$kubeconfig_dir" ]; then
    COMPREPLY=( $(compgen -W "$(ls -1 "$kubeconfig_dir")" -- "$cur") )
  fi
}
complete -o bashdefault -o default -o nospace -F _kconf_completion kconf

## Set Prompt ##
eval "$(zoxide init bash)"
eval "$(starship init bash)"
source <(fzf --bash)
{{ else -}}
# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

# Custom Aliases #
[ -f $HOME/.config/aliases ] && source $HOME/.config/aliases

# FZF Configuration #
[ -f $HOME/.config/fzf/fzf.bash ] && source $HOME/.config/fzf/fzf.bash

## Git Completions (Bash) ##
# bash-completion normally defines __git_complete lazily, only once you've
# actually triggered completion for the literal "git" command — so calling
# it here unconditionally at shell startup fails with "command not found"
# unless the completion script has been sourced first. Search the common
# install locations (Debian/Ubuntu, Homebrew, Termux via $PREFIX) and skip
# the aliases entirely if none are found, instead of erroring on every shell.
for _git_completion in \
  /usr/share/bash-completion/completions/git \
  /opt/homebrew/share/bash-completion/completions/git \
  /usr/local/share/bash-completion/completions/git \
  "${PREFIX:-}/share/bash-completion/completions/git"
do
  if [ -f "$_git_completion" ]; then
    source "$_git_completion"
    break
  fi
done
unset _git_completion

if declare -f __git_complete >/dev/null 2>&1; then
  __git_complete g git
  __git_complete gs _git_status
  __git_complete ga _git_add
  __git_complete gc _git_commit
  __git_complete gp _git_push
  __git_complete gpl _git_pull
  __git_complete gl _git_log
  __git_complete gb _git_branch
  __git_complete gbd _git_branch
  __git_complete gf _git_fetch
  __git_complete gd _git_diff
  __git_complete gst _git_stash
  __git_complete gstp _git_stash
  __git_complete gco _git_switch
  __git_complete gnb _git_switch
  __git_complete gclean _git_switch
fi

## Kubeconfig Completion (Bash) ##
_kubeconfig_completion() {
  local kubeconfig_dir="$HOME/.kube"
  local cur="${COMP_WORDS[COMP_CWORD]}"

  if [ -d "$kubeconfig_dir" ]; then
    COMPREPLY=( $(compgen -W "$(ls -1 "$kubeconfig_dir" | grep -E '(config|.*-kubeconfig\.yaml)' | sed 's/-kubeconfig\.yaml$//' | sed 's/^config$/config/')" -- "$cur") )
  fi
}
complete -o bashdefault -o default -o nospace -F _kubeconfig_completion kubeconfig

## Set Prompt ##
eval "$(zoxide init bash)"
eval "$(starship init bash)"
source <(fzf --bash)
[ -f "$HOME/.cargo/env" ] && source "$HOME/.cargo/env"
{{ end -}}
